* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Black', sans-serif;
}

/* Header */

.hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
}

.hero_header .logo {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    color: #ffd39a;
    font-weight: 900;
    text-shadow: 4px 4px 0px #b36525, 4px 4px 0px;
}

.header_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Archivo Black', sans-serif;
    color: #ffd39a;
}

.header_right .menu {
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    gap: 1.5rem;
    letter-spacing: 2px;
}

.menu_item a {
    text-decoration: none;
    color: #ffd39a;
    font-weight: 900;
    text-shadow: 4px 4px 0px #b36525, 4px 4px 0px;
}

.menu_item a:hover {
    color: white;
}

.hero .header_right p {
    color: #ffd39a;
    font-weight: 800;
    text-shadow: 2px 2px 0px #b36525, 2px 2px 0px;
}

/* Footer main */
.hero {
    height: 100vh;
    background-image: url("../img/footer main.png");
    background-size: cover;
    background-attachment: fixed;
}

/* Footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Redes sociales */
.social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: rgb(255, 201, 136);; 
}

/* Estilos para la sección de métodos de pago */

.payment-methods {
    margin-top: 20px;
}

.payment-methods p {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}

.payment-methods img {
    width: 60px;
    margin-right: 10px;
}

/* Derechos reservados */

footer p {
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
    color: #000000;
}

/* Suscribite */

.subscribe {
    margin-top: 20px;
    text-align: center;
}

.subscribe h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}

.subscribe p {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}

.subscribe form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.subscribe input[type="email"] {
    padding: 10px;
    margin: 10px 0;
}

.subscribe button {
    background-color: rgb(255, 201, 136);
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Elementos */

.container {
    padding: 2rem; 
}

.elementos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info_elementos {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info_elementos h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    font-weight: 300;
    font-size: 2.5rem;
    border: 2px dashed #000000;
    display: inline-block;
}

.horarios p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    font-size: 1.4rem;
}

.horarios {
    padding-top: 30%;
    
}

.info_elementos h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 4rem;
    color: rgb(255, 201, 136);
    text-shadow: 5px 5px 0px #000000, 4px 4px 1px;
}

.info_elementos h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 6rem;
    color: rgb(255, 201, 136);
    text-shadow: 5px 5px 0px #000000, 4px 4px 0px;
}

.info_elementos img {
    max-width: 100%;
    height: auto;
}

/* Footer */
footer {
    border-top: 2px solid black;
    text-align: center;
    background-image: url("../img/footer main.png");
    background-size: cover;
    background-attachment: fixed;
}

.imgProductos {
    display: block;
    width: 100%;
    height: auto;
}

/* Formulario */

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 4px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
    resize: none;
}

.btnFormulario {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
}

/* Quienes Somos */

.container .video {
    display: flex;
    justify-content: center;
    padding-top: 8%;
}

/* Servicios */

    .container #op_servicio {
        text-align: center;
        color: #000000;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .elementos {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .contenedorServicios {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        width: 640px;
        height: 640px;
    }

    .servicio_imagen {
        display: flex;
        justify-content: space-between;
        width: 577px;
        height: 577px;
    }


/* Productos */

.contenedorProductos {
    margin: 20px;
    border: 4px solid black;
    border-radius: 10px;
    width: 360px; 
    height: 400px; 
    overflow: hidden; 
    margin-bottom: 20px; 

}


.imgProductos {
    display: block;
    width: 100%;
    height: 100%;
}

.contenedorProductos {
    background-color: #ffd39a;
    color: #000000;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    max-width: 500px;
    margin: 20px;
}

#fotos_productos {
    display: flex;
    align-items: center;
}

.productos {
    display: flex;
    flex-flow: row wrap;
}

/* Media query */

@media (max-width: 576px) {
    .hero_header {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .menu-toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .logo {
        font-size: 2rem;
        text-align: center;
    }

    .header_right {
        align-items: center;
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .menu_item a {
        font-size: 1.4rem;
        text-shadow: none;
    }

    .mobile-nav {
        display: none;
    }

}

/* "hero" en dispositivos móviles */

@media (max-width: 576px) {
    .hero {
        height: auto;
        background-attachment: scroll;
    }

    .elementos {
        flex-direction: column;
        text-align: center;
    }

    .info_elementos h2,
    .info_elementos h3 {
        font-size: 2rem;
    }

    .horarios h4 {
        font-size: 1.5rem;
    }

    .horarios p {
        font-size: 1.2rem;
    }

    .info_elementos img {
        max-width: 80%;
    }
}


